In [1]:
import pandas as pd
import numpy as np

In [21]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 3, 3.5, 15, 5]
}, index = [0,1,1,3,4])

In [25]:
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     3.0
1  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [28]:
df_kept = df.iloc[-4:]
df_kept

     brand style  rating
1  Yum Yum   cup     3.0
1  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [35]:
df_kept[~df_kept.index.duplicated(keep='last')]

     brand style  rating
1  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [36]:
df_kept = df_kept[~df_kept.index.duplicated(keep='last')]
df_kept

     brand style  rating
1  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [38]:
df.isin(df_kept)

   brand  style  rating
0  False  False   False
1  False   True   False
1   True   True    True
3   True   True    True
4   True   True    True

In [53]:
df2_index = df2.index
df2_index

NameError: name 'df2' is not defined

In [24]:
df2[~df2_index.duplicated(keep='last')]

   a  b  c
0  0  0  0
1  2  2  2

In [26]:
df2_index.sort_values(ascending=False)

Int64Index([1, 1, 0], dtype='int64')